Escuderia-NCapas/.vs/
.vs/
Escuderias-NCapas/3-Infraestructura/obj/
Escuderias-NCapas/3-Infraestructura/bin/
Escuderias-NCapas/2-DominioTest/obj/
Escuderias-NCapas/2-DominioTest/bin/
Escuderias-NCapas/2-Dominio/obj/
Escuderias-NCapas/2-Dominio/bin/
Escuderias-NCapas/1-Aplicacion/obj/
Escuderias-NCapas/1-Aplicacion/bin/
Escuderias-NCapas/0-Presentacion/bin/
Escuderias-NCapas/0-Presentacion/obj/